body {
  color: #313131;
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  background: #f4f4f6;
  text-align: center;
}

/* hg - grid-24 */
.offset-hg1 {
  margin-left: 4.166666666666667%;
}

.hg22 {
  width: 91.66666666666667%;
}

.pin-content {
text-align: left;
}

.error {
  padding-top: .65rem;
  padding-bottom: .65rem;
}

.error--text {
  color: #F44336;
  opacity: 1;
}

.error--container {
  background-color: #ffebee;
  opacity: 1;
}

.square {
  width: 100%;
  /* height: 100%; */
  /* float: left;
  position: relative;
  width: 10%;
  height: 0;
  padding-bottom: 10%;
  /* width: 10%; */
  /* width: 30%; */
  /* padding-bottom: 30%; */
  /* margin: 1.66%; 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.square-container {
  float: left;
  position: relative;
  width: 10%;
  height: 0;
  padding-bottom: 10%;
  /* width: 10%; */
  /* width: 30%; */
  /* padding-bottom: 30%; */
  margin: 1.66%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}