body {
  color: #313131;
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  background: #f4f4f6;
  text-align: center;
}

/* hg - grid-24 */
.offset-hg1 {
  margin-left: 4.166666666666667%;
}

.hg22 {
  width: 91.66666666666667%;
}

.pin-content {
  text-align: left;
}

.error {
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
}

.error--text {
  color: #f44336;
  opacity: 1;
}

.error--container {
  background-color: #ffebee;
  opacity: 1;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.square {
  width: 100%;
  vertical-align: middle;
  /* height: 100%; */
  /* float: left;
  position: relative;
  width: 10%;
  height: 0;
  padding-bottom: 10%;
  /* width: 10%; */
  /* width: 30%; */
  /* padding-bottom: 30%; */
  /* margin: 1.66%; 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.square-container:hover .square {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  cursor: pointer;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23),
    0 3px 10px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}

.square-container {
  float: left;
  position: relative;
  width: 10%;
  padding-bottom: 10%;
  /* width: 50%;
  padding-bottom: 50%; */
  height: 0;
  /* width: 10%; */
  /* width: 30%; */
  /* padding-bottom: 30%; */
  /* margin: 1.66%; */
  /* background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-color: azure; */
  vertical-align: middle;
}

.square-container-active {
  background-color: cadetblue;
}
.square-active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23),
    0 3px 10px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

.description-container:hover {
  /* -webkit-transform: scale(0.9); */
  /* transform: scale(0.9); */
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23),
    0 3px 10px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.description-container-active {
  border: 3px solid cadetblue !important;
  padding: 5px;
}

.description-container {
  padding: 8px;
}

.tab__container--active {
  background-color: rgba(0, 0, 0, 0.1);
}

.tab__container:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.board__card {
  overflow: auto;
}

.board__card a:link {
  color: #313131;
}

.board__card a:visited {
  color: #313131;
}

.board__card:hover {
  color: #26a69a;
}

/* .board__card__content:link {
  color: #313131;
}

.board__card__content:visited {
  color: #313131;
}

.board__card__content:hover {
  color: #26a69a;
  cursor: pointer;
} */

.board__card__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}

.board__card__button {
  cursor: pointer;
  border-radius: 50%;
  background-color: #f4f4f6;
  /* filter: grayscale(100%); */
  /* border: solid 5px tomato; */
  border: 5px solid #f4f4f6;
  margin-left: 6px;
}

/* 
.board__card__link:hover {
} */

.tooltip {
  position: relative;
  /* display: inline-block; */
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  /* padding: 5px 0; */
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-bottom {
  top: 0%;
  /* left: 50%; */
  left: 10px;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  transform: rotate(180deg);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.board__misc {
  /* display: inline-flex; */
  color: #8e8e8e;
}

.board__page__title {
  display: inline-flex;
  /* color: #8e8e8e; */
}

.title__wrap {
  word-break: break-all;
}

/* .board__misc h6:after {
  content: ".";
  padding-left: 4px;
  padding-right: 4px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  transform: rotate(180deg);
}

.board__misc h6:last-child:after  {
  display: none; */
/* } */

.menu__item--active {
  background-color: rgba(0, 0, 0, 0.1);
}
