.user-list {
  list-style: none;
}

.checkbox-container {
  margin-right: 15px;
}

.checkbox-group-label {
  padding-top: 15px;
}

/* .top-margin-0 {
  margin-top: 0px;
}


.legacy-sidebar > .card-content {
  padding-top: 10px;
}

.legacy-content > .card-panel > h4 {
  margin-top: 0;
} */